html {
	font-size: 10px; /* ЗДЕСЬ ДОЛЖНО СТАВИТЬСЯ ЗНАЧЕНИЕ 10px.
						ЭТО ЗАДАЕТ РАЗМЕР ДЛЯ ЕДЕНИЦ В rem
						ЗАЧЕМ ЭТО ДЕЛАЕТСЯ?
						ЕСЛИ У НАС ПОЯВИТСЯ ИЗМЕНИТЬ МАСШТАБ ВСЕХ РАЗМЕРОВ
						НАМ НЕ ПРИДЁТСЯ МЕНЯТЬ ВСЕ ПАРАМЕТРЫ,
						А ЛИШЬ ТО ЧТО УКАЗАНО ЗДЕСБ*/
}

:root {  /*УКАЗЫВАЯ ПЕРЕМЕННЫЕ В root, МЫ ДЕЛАЕМ ИХ ГЛОБАЛЬНЫМИ, ИНАЧЕ ОНИ БЫ РАБОТАЛИ ВНУТРИ БЛОКА*/

	/* Fonts */
		--font-size_h2: 3rem; /* В НАШЕМ СЛУЧАЕМ 1rem ЭТО 10px (СМОТРИМ ЗНАЧЕНИЕ В html{}*/
		--font-size_main: 1.6rem;

	/* Colors */
		--text-color_main: #ffffff;
		--bgcolor_white: #ffffff;
}   